@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Bold.ttf');
    font-weight: 900;
    font-style: normal;
}