<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="dark ion-text-center">
    <h1 class="giro-brand">Giro do Brasil</h1>
  </ion-text>
  
  <form>
    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="login" type="email" [(ngModel)]="email" (required)="true"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="senha" type="password" [(ngModel)]="senha" required="true"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" type="submit" (click)="loginUsuario()" expand="full">
          Logar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="ion-text-center">Não tem uma conta?</p>
        <ion-router-link href="inserir">
          <ion-button color="danger" expand="full">
            Criar uma conta
          </ion-button>
        </ion-router-link>

        <p class="ion-text-center">
          <ion-text color="medium">
            <small>Desenvolvido por Matheus Carolino</small>
          </ion-text>
        </p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>