<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="dark ion-text-center">
    <h1 class="giro-brand">Giro do Brasil</h1>
  </ion-text>
  <p class="ion-text-justify">O Giro do Brasil é um app que agrega notícias de diversas fontes brasileiras sobre vários temas.</p>
  <p class="ion-text-justify">Foi desenvolvido por <strong>Matheus da Silva Carolino</strong> como um projeto para a
    disciplina de Desenvolvimento Móvel da UNISUAM.</p>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://scontent.fsdu19-1.fna.fbcdn.net/v/t1.0-9/26219566_1556924444396810_1037375584636091528_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=-7gR3NvmZ1UAX-Gtanf&_nc_ht=scontent.fsdu19-1.fna&oh=41ea3684843a765f8929a859d98fb9a0&oe=5FE13869">
    </ion-thumbnail>
    <ion-label>
      <h3>Matheus Carolino</h3>
      <p><a href="https://www.facebook.com/carolinomatheus" class="icone-link">
          <ion-icon name="logo-facebook"></ion-icon>
        </a> <a href="https://www.instagram.com/carolinomatheus/" class="icone-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></p>
    </ion-label>
  </ion-item>

  <p class="ion-text-center">
    <ion-text color="medium">
      <small>Giro do Brasil v0.1</small>
    </ion-text>
  </p>
</ion-content>